html {
  color: hsl(0, 0%, 92%);
  font-weight: 500;
  font-family: "SF Pro Display", sans;
  font-variant-numeric: tabular-nums;
}

body {
  margin: 0;
  background-image: url("https://w.wallhaven.cc/full/gj/wallhaven-gj86zq.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
button {
  all: unset;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 2px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 1rem;
  background-color: #11111b;
  transition: 400ms;
  gap: 0.5rem;
}
button:active {
  transform: scale(0.9);
}
button:hover {
  transform: scale(1.1);
}
.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
span {
  font-size: 3rem;
}
